.task-detail {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.back-link {
  display: inline-block;
  margin-bottom: 25px;
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.back-link:hover {
  text-decoration: underline;
}

.task-detail h1 {
  margin-bottom: 25px;
  color: #1f2937;
}

.task-detail p {
  margin: 12px 0;
  color: #4b5563;
  line-height: 1.5;
}

.task-detail strong {
  color: #1f2937;
}
button {
  background-color: #eb2525;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
.task-link {
   background-color: #3225eb;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
    text-decoration: none;
   font-size: 16px;
  color: white;
}
