.filter_bar{
    width:100%;
    padding:10px;
    background:var(--code-bg);
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.filter_bar input{
    width:29%;
    min-width:150px;
    height:30px;
    border-radius: 10px;
    outline:none;
    border: none;
    transition: 300ms;
    padding:0 10px;
    
}
.filter_bar input:hover{
    box-shadow: var(--shadow);
}
.dropdown_menu{
    width:29%;
    min-width:120px;
    height:30px;
    border-radius: 10px;
    outline: none;
    border:none;
    transition: 300ms;
}
.filter_bar .dropdown_menu:hover{
    box-shadow: var(--shadow);
}